/* Skip link */


h1{
    text-align: center;
}

/* Body và main */
body {
    font-family: Arial, sans-serif;
    background: #f9f9fb;
    margin: 0;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Ảnh lớn */
#image {
    background-color: #4B0082;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 1.5em;
    height: 200px;
    width: 400px;
    margin: 40px auto;
    border: 3px solid #222;
    background-size: cover;
    background-position: center;
    transition: background-image 0.4s;
}

/* Lưới ảnh nhỏ */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Ảnh nhỏ */
.preview {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid #4B0082;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.3s;
}

.preview:hover, 
.preview:focus {
    transform: scale(1.05);
    outline: none;
}
